:root {
	--tab-active-bg-color: #111117;		/* background color of an active tab */
	--tab-inactive-bg-color: #262639;		/* background color of an inactive tab */
	--tab-active-fg-fallback-color: #c1c1d1;	/* color of text in an active tab without a container */
	--tab-inactive-fg-fallback-color: #6c6c93;	/* color of text in an inactive tab without a container */
	--urlbar-focused-bg-color: #262639;
	--urlbar-not-focused-bg-color: #262639;

	--tab-active-fg-fallback-color: #c1c1d1;		/* color of text in an active tab without a container */
	--tab-inactive-fg-fallback-color: #6c6c93;		/* color of text in an inactive tab without a container */
	--toolbar-bgcolor: #111117 !important;
	--tab-font: 'Cozette';
	--urlbar-font: 'monospace';

	/* private mode icon and colour */
	--tab-private-icon: "P"; /* icon to be displayed to the left of the tab titles in private windows */
	--tab-private-icon-colour: #00ffe0;	/* colour of the private icon */

	/* try increasing if you encounter problems */
	--urlbar-height-setting: 24px;
	--tab-min-height: 15px !important;

	/* I don't recommend you touch this unless you know what you're doing */
	--arrowpanel-menuitem-padding: 2px !important;
	--arrowpanel-border-radius: 0px !important;
	--arrowpanel-menuitem-border-radius: 0px !important;
	--toolbarbutton-border-radius: 0px !important;
	--toolbarbutton-inner-padding: 0px 2px !important;
	--toolbar-field-focus-background-color: var(--urlbar-focused-bg-color) !important;
	--toolbar-field-background-color: var(--urlbar-not-focused-bg-color) !important;
	--toolbar-field-focus-border-color: transparent !important;
	--uc-autohide-toolbox-delay: 500ms;
	--uc-toolbox-rotation: 82deg;
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_bookmarks_and_main_toolbars.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

#navigator-toolbox{
  --uc-bm-padding: 4px; /* Vertical padding to be applied to bookmarks */
  --uc-bm-height: calc(20px + 2 * var(--uc-bm-padding)); /* Might need to adjust if the toolbar has other buttons */
  --uc-navbar-height: -40px; /* navbar is main toolbar. Use negative value */
  --uc-autohide-toolbar-delay: 600ms; /* The toolbar is hidden after 0.6s */
}

:root[uidensity="compact"] #navigator-toolbox{
  --uc-navbar-height: -24px;
}
:root[uidensity="touch"] #navigator-toolbox{ --uc-bm-padding: 6px }

:root[chromehidden~="directories"] #navigator-toolbox{
  --uc-bm-height: 0px;
}
:root[chromehidden~="toolbar"] #navigator-toolbox{
  --uc-navbar-height: 0px;
}
#navigator-toolbox,
#sidebar-box,
#sidebar-main,
#sidebar-splitter,
#tabbrowser-tabbox{
  z-index: auto !important;
}

:root[sessionrestored] #nav-bar,
:root[sessionrestored] #PersonalToolbar{
  background-image: linear-gradient(var(--toolbar-bgcolor),var(--toolbar-bgcolor)), var(--lwt-additional-images,var(--toolbar-bgimage))  !important;
  background-position: top,var(--lwt-background-alignment);
  background-position-y: calc(0px - var(--tab-min-height) - 2*var(--tab-block-margin,0px));
  background-repeat: repeat,var(--lwt-background-tiling);
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform 135ms linear var(--uc-autohide-toolbar-delay) !important;
  z-index: 2;
}
#PlacesToolbarItems > .bookmark-item,
#OtherBookmarks,
#PersonalToolbar > #import-button{
  padding-block: var(--uc-bm-padding) !important;
}
:root[sessionrestored] #PersonalToolbar{
  z-index: 1;
  background-position-y: calc(0px - var(--tab-min-height) - 2*var(--tab-block-margin,0px) + var( --uc-navbar-height));
}

:root[lwtheme-image] #nav-bar,
:root[lwtheme-image] #PersonalToolbar{
  background-image: linear-gradient(var(--toolbar-bgcolor),var(--toolbar-bgcolor)),var(--lwt-header-image), var(--lwt-additional-images,var(--toolbar-bgimage)) !important;
}

#nav-bar[customizing],#PersonalToolbar[customizing]{ transform: none !important }

#navigator-toolbox > #PersonalToolbar{
  transform-origin: 0px var(--uc-navbar-height);
  position: relative;
}
:root[sessionrestored] #urlbar[popover]{
  opacity: 0;
  pointer-events: none;
  transition: transform 135ms linear var(--uc-autohide-toolbar-delay), opacity 0ms calc(var(--uc-autohide-toolbar-delay) + 135ms);
  transform-origin: 0px calc((var(--urlbar-container-height) - var(--urlbar-height)) / 2);
  transform: rotateX(89.5deg);
}
#mainPopupSet:has(> [role="group"][panelopen]) ~ toolbox #urlbar[popover],
#navigator-toolbox:is(:hover,:focus-within) #urlbar[popover],
#urlbar-container > #urlbar[popover]:is([focused],[open]){
  opacity: 1;
  pointer-events: auto;
  transition-delay: 100ms;
  transform: rotateX(0deg);
}

:root[sessionrestored]:not([customizing]) #navigator-toolbox{
  margin-bottom:  calc(-1px - var(--uc-bm-height) + var(--uc-navbar-height));
}

/* Make sure the bookmarks toolbar is never collapsed even if it is disabled */
:root[sizemode="fullscreen"] #PersonalToolbar,
#PersonalToolbar[collapsed="true"]{
  min-height: initial !important;
  max-height: initial !important;
  visibility: hidden !important
}
#PersonalToolbar[collapsed="true"] #PlacesToolbarItems > *,
:root[sizemode="fullscreen"] #PersonalToolbar #PlacesToolbarItems > *{
  visibility: hidden !important;
}

/* If bookmarks toolbar is collapsed on startup, then no items are generated, and we need to set some height for it */
#PlacesToolbarItems:empty{
  height: var(--uc-bm-height);
}

/* Selected tab needs higher z-index now to "hide" the broder below it */
.tabbrowser-tab[selected]{ z-index: 3 !important; }

/* Show when cursor is over main menu popup - this requires :has selector support */
#mainPopupSet:has(> [role="group"][panelopen]) ~ toolbox > .browser-toolbar{
  transition-delay: 100ms !important;
  transform: rotateX(0);
}

/* SELECT TOOLBAR BEHAVIOR */
/* Comment out or delete one of these to disable that behavior */

/* Show when urlbar is focused */
#nav-bar:focus-within + #PersonalToolbar,
#navigator-toolbox > #nav-bar:focus-within{
  transition-delay: 100ms !important;
  transform: rotateX(0);
}

/* Show when cursor is over the toolbar area */
#navigator-toolbox:hover > .browser-toolbar{
  transition-delay: 100ms !important;
  transform: rotateX(0);
}

/* This makes the tab notification box show immediately below tabs, otherwise it would break the layout */
#navigator-toolbox > div{ display: contents }
:where(#titlebar,#navigator-toolbox > #TabsToolbar,#navigator-toolbox > #toolbar-menubar,#tab-notification-deck,.global-notificationbox){
  order: -1;
}
:root[BookmarksToolbarOverlapsBrowser] #navigator-toolbox{
  margin-bottom: calc(-1px - var(--uc-bm-height) + var(--uc-navbar-height)) !important;
  z-index: auto !important;
}
@media (-moz-bool-pref: "browser.fullscreen.autohide"){
  :root[sizemode="fullscreen"] #navigator-toolbox[style*="margin-top"]{
    margin-top: calc(1px - var(--tab-min-height) - 2 * var(--tab-block-margin)) !important;
  }
}

/*****************************************************************************/
/* GENERAL UI TWEAKS                                                         */
/*****************************************************************************/

/* Remove radius from context menu */
menupopup, panel { --panel-border-radius: 0px !important; }
menu, menuitem, menucaption { border-radius: 0px !important; }

/* Move status panel to the right */
#statuspanel-label {
	border-radius: 0px !important; 
	border: 0px !important;
}

#statuspanel {
    position: absolute;
    bottom: 1vh !important;
    left: 1vw !important;
	max-width: 50% !important;
	justify-self: right !important;
	padding-top: 0 !important;
	inset-inline: auto !important;
	min-width: unset !important;
}

/*****************************************************************************/
/* NAVBAR DEBLOATING                                                         */
/*****************************************************************************/

/* Remove unnecessary buttons */
#back-button,
#forward-button, 
#reload-button, 
#stop-button,
#home-button, 
#library-button, 
#fxa-toolbar-menu-button
#customizableui-special-spring1, 
#customizableui-special-spring2 {
	display: none;
}

/*****************************************************************************/
/* URLBAR DEBLOATING                                                         */
/*****************************************************************************/


/* #identity-box, */
/* #pageActionButton, */
#pocket-button,
/* #urlbar-zoom-button, */
/* #tracking-protection-icon-container, */
/* #reader-mode-button, */
#userContext-label, #userContext-indicator,
#urlbar-go-button,
#star-button { display: none !important; }
#star-button-box:hover { background: inherit !important; }
#star-button-box { display: none !important; }

/*****************************************************************************/
/* NAVBAR STYLING                                                            */
/*****************************************************************************/

/* Remove padding between toolbar buttons */
toolbar .toolbarbutton-1 { padding: 0 0 !important; }
toolbarbutton  12px !important;
/* Add padding to the right of the last button so that it doesn't touch the edge of the window */
#PanelUI-menu-button {
	padding: 0px 4px 0px 0px !important;
}

#urlbar-container {
	--urlbar-container-height: var(--urlbar-height-setting) !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	font-family: var(--urlbar-font, 'monospace');
	font-size: 10px;
}

#urlbar {
	--urlbar-height: var(--urlbar-height-setting) !important;
	--urlbar-toolbar-height: var(--urlbar-height-setting) !important;
	min-height: var(--urlbar-height-setting) !important;
	border-color: var(--lwt-toolbar-field-border-color, hsla(240,5%,5%,.25)) !important;
}

#urlbar-input {
	color: white !important;
	margin-left: 0.8em !important;
	margin-right: 0.4em !important;
}

#navigator-toolbox {
	border: none !important;
}

/* Keep pop-up menus from overlapping with navbar */
#widget-overflow, 
#appMenu-popup, 
#customizationui-widget-panel,
#unified-extensions-panel {
	margin: 0 !important;
}

/* Make browser dialog boxes not overlap the navbar */
:not(.content-prompt-dialog) > .dialogOverlay > .dialogBox:not(.spotlightBox) {
	margin-top: 0px !important;
}

/*****************************************************************************/
/* UNIFIED EXTENSIONS BUTTON                                                 */
/*****************************************************************************/

/* Make extension icons smaller */
#unified-extensions-view {
	--uei-icon-size: 12px !important;
}

/* Hide extra info below extension names */
.unified-extensions-item-message-deck,
#unified-extensions-view > .panel-header,
#unified-extensions-view > toolbarseparator,
#unified-extensions-manage-extensions {
	display: none !important;
}

/* Add 3px padding on the top and the bottom of the box */
.panel-subview-body {
	padding: 3px 0px !important;
}

#unified-extensions-view .toolbarbutton-icon {
	padding: 0 !important;
}

.unified-extensions-item-contents {
	line-height: 1 !important;
	white-space: nowrap !important;
}

#unified-extensions-panel .unified-extensions-item {
	margin-block: 0 !important;
}

.toolbar-menupopup :is(menu, menuitem), .subview-subheader, panelview
.toolbarbutton-1, .subviewbutton, .widget-overflow-list .toolbarbutton-1 {
	padding: 4px !important;
}

/* --- STYLE TAB TOOLBAR -------------------------------- */

#titlebar {
	--proton-tab-block-margin: 0px !important;
	--tab-block-margin: 0px !important;
}

#TabsToolbar, .tabbrowser-tab {
	min-height: var(--tab-min-height) !important;
	font-size: 11px !important;
}

/* Change color of normal tabs */
tab:not([selected="true"]) {
	background-color: var(--tab-inactive-bg-color) !important;
	color: var(--identity-icon-color, var(--tab-inactive-fg-fallback-color)) !important;
}

tab {
	font-family: var(--tab-font, monospace);
	font-weight: normal;
	border: none !important;
}

/* Hide close button on tabs */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button { display: none !important; }

/* Reduce favicons size */
.tabbrowser-tab .tab-icon-image { transform: scale(0.80) !important; }

/* Hide favicons except for pinned tabs */
.tab-icon-stack:not([pinned]) { display: none !important; }

.tabbrowser-tab {
	/* Remove border between tabs */
	padding-inline: 0px !important;
	/* Reduce fade effect of tab text */
	--tab-label-mask-size: 1em !important;
	/* Fix pinned tab behaviour on overflow */
	overflow-clip-margin: 0px !important;
}

/* Tab: selected colors */
#tabbrowser-tabs .tabbrowser-tab[selected] .tab-content {
	background: var(--tab-active-bg-color) !important;
	color: var(--identity-icon-color, var(--tab-active-fg-fallback-color)) !important;
}

/* Tab: hovered colors */
#tabbrowser-tabs .tabbrowser-tab:hover:not([selected]) .tab-content {
	background: var(--tab-active-bg-color) !important;
}

/* Hide window controls */
.titlebar-buttonbox-container { display: none; }

/* Remove titlebar spacers */
.titlebar-spacer { display: none !important; }

/* Safari-style tabs */
.tabbrowser-tab[fadein] {
	max-width: 100vw !important;
	border: none
}

/* Disable tab shadow */
#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
    box-shadow: none !important;
}

/* Remove dark space between pinned tab and first non-pinned tab */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) >
#tabbrowser-arrowscrollbox >
.tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
	margin-inline-start: 0px !important;
}

/* Remove dropdown menu button which displays all tabs on overflow */
#alltabs-button { display: none !important }

/* Fix displaying of pinned tabs on overflow */
#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
	height: var(--tab-min-height) !important;
}

/* Remove overflow scroll buttons */
#scrollbutton-up, #scrollbutton-down { display: none !important; }

/* Remove new tab button */
#tabs-newtab-button {
	display: none !important;
}

/* Hide private browsing indicator */
#private-browsing-indicator-with-label {
 	display: none;
}

#main-window[privatebrowsingmode] #tabbrowser-tabs .tabbrowser-tab .tab-content:before {
	content: var(--tab-private-icon);
	margin-right: 1em; 
	color: var(--tab-private-icon-colour)
}
#private-browsing-indicator-with-label > label { 
	display: none;
}