<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appearanceSize</key>
	<string>3</string>
	<key>appearanceStyle</key>
	<string>0</string>
	<key>appearanceStyleOverride</key>
	<string>2</string>
	<key>appearanceStyleOverride2</key>
	<string>0</string>
	<key>appsToShow</key>
	<string>0</string>
	<key>crashPolicy</key>
	<string>1</string>
	<key>cursorFollowFocus</key>
	<integer>1</integer>
	<key>holdShortcut</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboAEgACABYAAgAOAAlExEf//EgAQAADSHR4fIFokY2xhc3NuYW1l
		WCRjbGFzc2VzWlNSU2hvcnRjdXSiHyFYTlNPYmplY3QACAARABoAJAApADIA
		NwBJAEwAUQBTAFoAYABtAHsAmQCgAKsAswC7AL0AvwDBAMMAxQDHAMkAzADR
		ANYA4QDqAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEB
		</data>
		<key>string</key>
		<string>⌘</string>
	</dict>
	<key>holdShortcut2</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhsc
		VSRudWxs1g0ODxAREhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVy
		c0lnbm9yaW5nTW9kaWZpZXJzViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVX
		dmVyc2lvboAEgACABYAAgAOAAlExEf//EgAIAADSHR4fIFokY2xhc3NuYW1l
		WCRjbGFzc2VzWlNSU2hvcnRjdXSiHyFYTlNPYmplY3QACAARABoAJAApADIA
		NwBJAEwAUQBTAFoAYABtAHsAmQCgAKsAswC7AL0AvwDBAMMAxQDHAMkAzADR
		ANYA4QDqAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEB
		</data>
		<key>string</key>
		<string>⌥</string>
	</dict>
	<key>language</key>
	<string>0</string>
	<key>menubarIconShown</key>
	<string>false</string>
	<key>nextWindowShortcut2</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwZGhsc
		HVUkbnVsbNYNDg8QERITFBUUFxhdbW9kaWZpZXJGbGFnc18QG2NoYXJhY3Rl
		cnNJZ25vcmluZ01vZGlmaWVyc1YkY2xhc3NaY2hhcmFjdGVyc1drZXlDb2Rl
		V3ZlcnNpb26ABIAFgAaABYADgAJRMRAwEABRCdIeHyAhWiRjbGFzc25hbWVY
		JGNsYXNzZXNaU1JTaG9ydGN1dKIgIlhOU09iamVjdAAIABEAGgAkACkAMgA3
		AEkATABRAFMAWwBhAG4AfACaAKEArAC0ALwAvgDAAMIAxADGAMgAygDMAM4A
		0ADVAOAA6QD0APcAAAAAAAACAQAAAAAAAAAjAAAAAAAAAAAAAAAAAAABAA==
		</data>
		<key>string</key>
		<string>⇥</string>
	</dict>
	<key>previewFocusedWindow</key>
	<string>false</string>
	<key>previewFocusedWindowOverride</key>
	<string>true</string>
	<key>screensToShow</key>
	<string>0</string>
	<key>settingsWindowShownOnFirstLaunch</key>
	<string>true</string>
	<key>shortcutStyle</key>
	<string>2</string>
	<key>showHiddenWindows</key>
	<string>0</string>
	<key>showHiddenWindows2</key>
	<string>0</string>
	<key>showMinimizedWindows</key>
	<string>1</string>
	<key>showMinimizedWindows2</key>
	<string>1</string>
	<key>spacesToShow</key>
	<string>0</string>
	<key>updatePolicy</key>
	<string>1</string>
	<key>vimKeysEnabled</key>
	<string>false</string>
</dict>
</plist>
