<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="1password" />
  <package id="7zip" />
  <package id="anki" />
  <package id="bulkrenameutility" />
  <package id="calibre" />
  <package id="chatgpt" />
  <package id="chezmoi" />
  <package id="coretemp" />
  <package id="dbeaver" />
  <package id="deluge" />
  <package id="discord" />
  <package id="etcher" />
  <package id="everything" />
  <package id="ffmpeg" />
  <package id="firefox" />
  <package id="fsviewer" />
  <package id="garmin-express" />
  <package id="k-litecodecpack-standard" />
  <package id="kindle" />
  <package id="line" />
  <package id="locale-emulator" />
  <package id="logioptionsplus" />
  <package id="miktex" />
  <package id="nordvpn" />
  <package id="notepadplusplus" />
  <package id="obsidian" />
  <package id="onedrive" />
  <package id="paint.net" />
  <package id="postman" />
  <package id="python3" />
  <package id="rainmeter" />
  <package id="scansnapmanager" />
  <package id="sd-card-formatter" />
  <package id="slack" />
  <package id="spotify" />
  <package id="steam" />
  <package id="super-productivity" />
  <package id="th-ch-youtube-music" />
  <package id="wincdemu" />
  <package id="zoom" />
</packages>